<template>
  <div class="custom-class">
    <div class="submit-form mt-3 mx-auto">
      <p class="headline">Add Ingredients</p>
      <v-form ref="form" lazy-validation @submit.prevent="saveIngredients">
        <v-text-field v-model="ingredients.name" v-bind:label="'Enter Name'" required></v-text-field>
      </v-form>

      <v-btn color="primary" class="mt-3" @click="saveIngredients">Submit</v-btn>
    </div>
  </div>
</template>


<script>
import commonDataservice from "../../services/commonDataservice";
import { required } from "vuelidate/lib/validators";

export default {
  name: "add-ingredients",
  data() {
    return {
      ingredients: {
        id: null,
        name: ""
      },
      submitted: false
    };
  },
  validations: {
    ingredients:{
      name:{required}
    }
  },
  methods: {
    getSpecificIngredients(id) {
      commonDataservice
        .getIngredientById(id)
        .then(response => {
          if (response.data && response.data.data) {
            this.ingredients.name = response.data.data.ingredient_name;
          }
        })
        .catch(e => {
          console.log(e);
        });
    },
    saveIngredients() {
      this.$v.$touch();
      if (this.$v.$invalid) {
        commonDataservice.displayToast('warning','Ingredient field is required')
        return;
      }
      this.submitted = true;
      var data = {
        ingredient_name: this.ingredients.name
      };
      let dataVar;
      if (this.$route.params.id) {
        dataVar = commonDataservice.editIngredients(data,this.$route.params.id);
      } else {
        dataVar = commonDataservice.createIngredients(data);
      }
      dataVar.then(response => {
        if (response.data.status == "success") {
          this.$router.push({ name: "ingredients" });
          commonDataservice.displayToast('success',response.data.msg)
        } else {
          commonDataservice.displayToast('error',"Error while adding ingredients")
        }
      });
    }
  },
  mounted() {
    if (this.$route.params.id) {
      this.getSpecificIngredients(this.$route.params.id);
    }
  }
};
</script>

<style>
.submit-form {
  max-width: 600px;
}
</style>