<template>
<div class="custom-class">
  <b-breadcrumb class="breadcrumbs-bg">
    <v-icon small class="mr-2">mdi-home</v-icon>
      <b-breadcrumb-item to="/dashboard">
      Dashboard</b-breadcrumb-item>
      <b-breadcrumb-item to="/ingredients" active>Ingredients</b-breadcrumb-item>
  </b-breadcrumb>
  <v-row align="center" class="list px-3 mx-auto">
    <v-col cols="12" md="8">
      <v-text-field v-model="search" v-bind:label="'Search here'"></v-text-field>
    </v-col>

    <v-col cols="12" md="4">
      <v-btn small @click="addIngredientClick">Create</v-btn>
    </v-col>

    <v-col cols="12" sm="12">
      <v-card class="mx-auto" tile>
        <v-card-title>Ingredients</v-card-title>

        <v-data-table
          :headers="headers"
          :items="ingredientsList"
          :search="search"
          disable-pagination
          :hide-default-footer="true"
        >
          <!-- v-slot:[`item.actions`]="{ item }" -->
          <template v-slot:[`item.actions`]="{ item }">
            <v-btn class="secondary" @click="editIngredients(item.id)">Edit</v-btn>
            <v-btn class="error" @click="openDialog(item.id)">Delete</v-btn>
            <!-- <v-btn class="error" @click="deleteIngredients(item.id)">Delete</v-btn> -->
          </template>
        </v-data-table>
      </v-card>
    </v-col>
  </v-row>
  <v-dialog v-model="dialog" max-width="200">
      <v-card>
        <v-card-title class="headline lighten-2"> Confirmation </v-card-title>

        <v-card-text> Are you sure you want to delete?</v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn color="error darken-1" text @click="dialog = false">
            No
          </v-btn>

          <v-btn color="success darken-1" text @click="handleOk(deleteId)">
            Yes
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
</div>
</template>

<script>
import commonDataservice from "../../services/commonDataservice";
export default {
  name: "ingredientsList",
  data() {
    return {
      ingredientsList: [],
      dialog: false,
      deleteId:"",
      search: "",
      headers: [
        { text: "Name", align: "start", sortable: false, value: "name" },
        { text: "Actions", value: "actions", sortable: false }
      ]
    };
  },
  methods: {
    retrieveIngredients() {
      // this.ingredientsList = [{ name: "Test1 ingredient" },{ name: "Test2 ingredient" }];
        commonDataservice.getAllIngredients()
          .then((response) => {
            if(response.data && response.data.data.length>0){
            this.ingredientsList = response.data.data.map(this.getDisplayIngredients);
            }
      })
      .catch((e) => {
        console.log(e);
      });
    },
    openDialog(id) {
      this.dialog = true;
      this.deleteId = id;
    },
    handleOk(id) {
      this.deleteIngredients(id)
    },
    refreshList() {
      this.retrieveIngredients();
    },

    editIngredients(id) {
        this.$router.push({ name: "edit-ingredients", params: { id: id } });
    },

    deleteIngredients(id) {
        commonDataservice.deleteIngredients(id)
          .then(response => {
            if(response.status == 200){
                this.refreshList();
                commonDataservice.displayToast('success',response.data.msg)
            }
          })
          .catch((e) => {
            console.log(e);
          });
          this.dialog = false;
    },
    addIngredientClick() {
      this.$router.push({ name: "add-ingredients"});
    },

    getDisplayIngredients(ing) {
      return {
        id: ing.id,
        name: ing.ingredient_name
      };
    }
  },
  mounted() {
      if (localStorage.getItem("token")) {
        this.retrieveIngredients();
      }
  }
};
</script>

<style>
.list {
  max-width: 800px;
}
</style>
