<template>
  <div class="custom-class">
    <!-- display breadcrumbs -->
    <b-breadcrumb class="breadcrumbs-bg">
      <v-icon small class="mr-2">mdi-home</v-icon>
      <b-breadcrumb-item to="/dashboard">Dashboard</b-breadcrumb-item>
    </b-breadcrumb>
    <div class="row">
      <div class="col-sm-4">
        <div class="card" @click="clickPizza">
          <div class="card-body">
            <h5 class="card-title">Pizza</h5>
            <p class="card-text">{{ this.pizzaCount }}</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card" @click="clickIngredients">
          <div class="card-body">
            <h5 class="card-title">Ingredients</h5>
            <p class="card-text">{{ this.ingredientsCount }}</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Orders</h5>
            <p class="card-text">{{ this.ordersCount }}</p>
          </div>
        </div>
      </div>
    </div>
    <!-- //order table -->
    <div class="card" style="margin: 10px">
      <div class="card-header">Orders</div>
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Date/Time</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="order in orderList" v-bind:key="order.id">
              <td>
                {{ order.pizza_name }}
                <p>
                  <span style="font-weight: 700">Develop |</span>
                  {{ order.customer_email }}
                </p>
                <p
                  v-for="ing in order.ing_array"
                  v-bind:key="ing.id"
                  class="custom-p"
                >
                  {{ ing.name }}
                </p>
              </td>
              <td>
                Created: {{ new Date(order.created_at).toLocaleString() }}
                <p>Price: USD {{ order.price }}</p>
              </td>
              <td>
                {{ order.delivery_status }}
                <!-- <b-form-select
                  v-model="selected"
                  :options="options"
                  class="mb-3"
                  value-field="value"
                  text-field="text"
                ></b-form-select> -->

                <!-- <div class="mt-3">
                  Selected:
                  <strong>{{ selected }}</strong>
                </div> -->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import commonDataservice from "../../services/commonDataservice";
export default {
  name: "dashboard",
  data() {
    return {
      ordersCount: "",
      pizzaCount: "",
      ingredientsCount: "",
      orderList: [],
      selected: "waiting",
      options: [
        { value: "pending", text: "Pending" },
        { value: "completed", text: "Completed" },
        { value: "cancel", text: "Cancel" },
      ],
    };
  },
  methods: {
    clickPizza() {
      this.$router.push({ name: "pizzas" });
    },
    clickIngredients() {
      this.$router.push({ name: "ingredients" });
    },
    countFun() {
      commonDataservice
        .countItems()
        .then((response) => {
          if (response.data.status == "success") {
            this.ordersCount = response.data.orders;
            this.ingredientsCount = response.data.ingredients;
            this.pizzaCount = response.data.pizzas;
          } else {
            console.log("Err while fetching data");
          }
        })
        .catch((e) => {
          console.log(e);
        });
    },
    retrieveOrders() {
      commonDataservice
        .getAllOrders()
        .then((response) => {
          if (response.data && response.data.data.length > 0) {
            this.orderList = response.data.data;
          }
        })
        .catch((e) => {
          console.log(e);
        });
    },
  },
  mounted() {
    if (localStorage.getItem("token")) {
      this.countFun();
      this.retrieveOrders();
    }
  },
};
</script>
