.custom-class {
    margin: 15px;
}
.breadcrumbs-bg{
    background-color: white;
}
.custom-p{
    display: inline;
    border: 1px;
    padding: 5px;
    background-color: #dce4e4;
    border-radius: 12px;
    margin: 5px;

}
.custom-img{
    width: 40px; height: 40px;border-radius: 50%;
}
.custom-price{
    font-size: 12px;
    color:red;
    padding: 7px;
}
