<template>
  <div class="custom-class">
    <div class="submit-form mt-3 mx-auto">
      <p class="headline">Login</p>
      <v-form ref="form" lazy-validation @submit.prevent="loginBtn">
        <v-text-field v-model="login.email" v-bind:label="'Enter email'" required></v-text-field>
        <v-text-field type="password" v-model="login.password" v-bind:label="'Enter Password'" required></v-text-field>
      </v-form>

      <v-btn color="primary" class="mt-3" @click="loginBtn">Login</v-btn>
    </div>
  </div>
</template>

<script>
import commonDataservice from "../../services/commonDataservice";
import { required } from "vuelidate/lib/validators";

export default {
  name: "login",
  data() {
    return {
      login: {
        email: "",
        password: ""
      },
      submitted: false
    };
  },
   validations: {
    login:{
      email:{required},
      password:{required}
    }
  },
   methods: {
  
    loginBtn() {
      this.$v.$touch();
      if (this.$v.$invalid) {
        commonDataservice.displayToast('warning','All fields are required')
        return;
      }
      this.submitted = true;
      var data = {
        email: this.login.email,
        password: this.login.password
      };
     
      commonDataservice.login(data).then(response => {
          console.log("response::",response)
        if (response.data.status == 'success') {
          localStorage.setItem('token',response.data.token)
          this.$router.push({ name: "dashboard" });
          // this.commonDataservice.isLoggedIn()
          // this.$isLoggedIn = true;
          // console.log("log",this.$isLoggedIn)
          // commonDataservice.isLoggedIn();
          commonDataservice.setStatus(true);
          commonDataservice.displayToast('success',response.data.msg)
        } else {
          commonDataservice.displayToast('error',response.data.msg)
        }
      });
    }
  },
};
</script>

<style>
.submit-form {
  max-width: 600px;
}
</style>