<template>
  <v-app>
    <v-app-bar app dark>
      <div class="d-flex align-center mr-2">
        <img src="https://picsum.photos/200/300" width="23px;" height="23px;" />
        Pizza Infinety
      </div>
      <v-btn v-if="isLoggedIn" to="/home" text>Home</v-btn>
      <v-btn v-if="isLoggedIn" to="/dashboard" text>Dashboard</v-btn>
      <v-btn v-if="!isLoggedIn" to="/login" text>Login</v-btn>
      <v-btn v-if="isLoggedIn" @click="logoutClick" text>Logout</v-btn>
    </v-app-bar>

    <v-main>
      <router-view />
    </v-main>
  </v-app>
</template>

<script>
import commonDataservice from "../services/commonDataservice";
export default {
  name: "app",
  data() {
    return {
      isLoggedIn: false
    };
  },
  methods: {
    logoutClick() {
      localStorage.removeItem("token");
      this.$router.push({ name: "login" });
      commonDataservice.setStatus(false);
       commonDataservice.getStatus().subscribe(res => {
        this.isLoggedIn = res;
      });
    }
  },
  mounted() {
    if (localStorage.getItem("token")) {
      this.isLoggedIn = true;
    } else {
      commonDataservice.getStatus().subscribe(res => {
        this.isLoggedIn = res;
      });
    }

    console.log(process.env);
    console.log(`Working on '${process.env.MIX_VUE_APP_MODE}' mode`);
  }
};
</script>

