<template>
  <div class="custom-class">
    <div class="container">
      <div>
        <h3>Dpz Tu pizza sabe mejor a domicilio</h3>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry.Lorem Ipsum is simply dummy text of the printing and
          typesetting industry.
        </p>
      </div>
      <div class="row">
        <div
          class="col-6"
          style="padding: 10px"
          v-for="pizza in pizzasList"
          v-bind:key="pizza.id"
        >
          <div class="card flex-row flex-wrap">
            <div class="card-header custom-header">
              <v-img
                :src="`${image_url}${pizza.image}`"
                height="150px"
                width="160px"
              ></v-img>
            </div>
            <div style="padding: 5px">
              <div class="card-body custom-body">
                <h4 class="card-title ttt">{{ pizza.pizza_name }}</h4>
                <p
                  v-for="ing in pizza.ing_array"
                  v-bind:key="ing.id"
                  class="custom-p"
                >
                  {{ ing.name }}
                </p>
                <h6 class="custom-price">USD {{ pizza.price }}.00</h6>
                <button class="btn btn-danger" @click="orderPizza(pizza.id)">
                  Order!
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import commonDataservice from "../../services/commonDataservice";
export default {
  name: "home",
  data() {
    return {
      pizzasList: [],
      image_url: process.env.MIX_VUE_APP_IMGURL,
    };
  },
  methods: {
    retrievePizzas() {
      commonDataservice
        .getAllPizza()
        .then((response) => {
          if (response.data && response.data.data.length > 0) {
            this.pizzasList = response.data.data;
          }
        })
        .catch((e) => {
          console.log(e);
        });
    },
    orderPizza(id) {
      let data = {
        pizza_id: id,
        customer_email: "test@mailinator.com",
      };
      commonDataservice
        .createOrder(data)
        .then((response) => {
          if (response.data.status == "success") {
            commonDataservice.displayToast("success", response.data.msg);
          } else {
            commonDataservice.displayToast(
              "error",
              "Error while placing order"
            );
          }
        })
        .catch((er) => {
          console.log(er);
        });
    },
  },
  mounted() {
    if (localStorage.getItem("token")) {
      console.log("IF token");
      this.retrievePizzas();
    }
  },
};
</script>

<style>
.custom-header {
  padding: 0px;
  border-bottom: 0px;
}
.custom-body {
  padding: 0px;
}
</style>
