<template>
  <div class="custom-class">
    <!-- <b-breadcrumb class="breadcrumbs-bg">
      <b-breadcrumb-item to="/dashboard">
        <v-icon small class="mr-2">mdi-home</v-icon>Dashboard
      </b-breadcrumb-item>
      <b-breadcrumb-item to="/ingredients" active>Ingredients</b-breadcrumb-item>
    </b-breadcrumb>-->
    <div class="submit-form mt-3 mx-auto">
      <p class="headline">Add Pizza</p>

      <v-form ref="form" lazy-validation @submit.prevent="savePizza">
        <v-text-field v-model="pizzas.name" v-bind:label="'Enter Name'" required></v-text-field>
        <v-text-field v-model="pizzas.price" v-bind:label="'Enter Price'" required></v-text-field>
        <div v-for="ing in dynamicIngredients" v-bind:key="ing.value">
          <input type="checkbox" :value="ing.value" :id="ing.value" v-model="selected" required />
          {{ing.name}}
        </div>
        <vue-dropzone
          ref="myVueDropzone"
          id="dropzone"
          :options="dropzoneOptions"
          @vdropzone-files-added="selectFile"
          v-model="pizzas.image"
          v-bind:label="'Upload Pizza Image'"
          required
        ></vue-dropzone>
      </v-form>

      <v-btn color="primary" class="mt-3" @click="savePizza">Submit</v-btn>
    </div>
  </div>
</template>


<script>
import commonDataservice from "../../services/commonDataservice";
import vue2Dropzone from "vue2-dropzone";
import { required } from "vuelidate/lib/validators";
import "vue2-dropzone/dist/vue2Dropzone.min.css";
export default {
  name: "add-pizza",
  components: {
    vueDropzone: vue2Dropzone
  },
  data() {
    return {
      pizzas: {
        name: "",
        price: "",
        image: "",
        ingredients: ""
      },
      selected: [],
      image_url: process.env.MIX_VUE_APP_IMGURL,
      dynamicIngredients: [],
      submitted: false,
      dropzoneOptions: {
        url: "https://httpbin.org/post",
        addRemoveLinks: true,
        init: function() {
          this.on("maxfilesexceeded", function(file) {
            this.removeAllFiles();
            this.addFile(file);
          });
        },
        maxFiles: 1,
        dictDefaultMessage:
          "<i class='v-icon notranslate mr-2 v-icon--link mdi mdi-cloud-upload theme--light'></i>Drop file here or click to upload.",
        headers: {
          "Content-Type": "multipart/form-data"
        }
      }
    };
  },
  validations: {
    pizzas: {
      name: { required },
      price: { required },
      image: { required }
    }
  },
  methods: {
    getSpecificPizza(id) {
      commonDataservice
        .getPizzaById(id)
        .then(response => {
          if (response.data && response.data.data) {
            this.pizzas.name = response.data.data.pizza_name;
            this.pizzas.price = response.data.data.price;
            this.pizzas.image = response.data.data.image;
            //manually added file
            let checkArray = response.data.data.ingredient_details;
            var file = { size: "", name: this.pizzas.image, type: "image/png" };
            var url = `${this.image_url}${this.pizzas.image}`;
            this.$refs.myVueDropzone.manuallyAddFile(file, url);
            checkArray.map(x => {
              this.selected.push(+x.id);
            });
          }
        })
        .catch(e => {
          console.log(e);
        });
    },
    savePizza() {
      this.$v.$touch();
      if (this.$v.$invalid) {
        commonDataservice.displayToast('warning',"All fields are required")
        return;
      }
      this.submitted = true;
      let formData = new FormData();
      formData.append("image", this.pizzas.image);
      formData.append("pizza_name", this.pizzas.name);
      formData.append("price", this.pizzas.price);
      formData.append("ingredients[]", this.selected);
      let dataVar;
      if (this.$route.params.id) {
        dataVar = commonDataservice.editPizza(formData, this.$route.params.id);
      } else {
        dataVar = commonDataservice.createPizza(formData);
      }
      dataVar.then(response => {
        if (response.data.status == "success") {
          this.$router.push({ name: "pizzas" });
          commonDataservice.displayToast('success',response.data.msg)
        } else {
          commonDataservice.displayToast('error','Error while adding Pizza')
        }
      });
    },
    selectFile(file) {
      this.pizzas.image = file[0];
    },
    retrieveIngredients() {
      commonDataservice.getAllIngredients().then(response => {
        if (response.data && response.data.data.length > 0) {
          this.dynamicIngredients = response.data.data.map(
            this.getDisplayIngredients
          );
        }
      });
    },
    getDisplayIngredients(ing) {
      return {
        value: ing.id,
        name: ing.ingredient_name
      };
    }
  },
  mounted() {
    this.retrieveIngredients();
    if (this.$route.params.id) {
      this.getSpecificPizza(this.$route.params.id);
    }
  }
};
</script>

<style>
.submit-form {
  max-width: 600px;
}
</style>
