<template>
  <div class="custom-class">
    <b-breadcrumb class="breadcrumbs-bg">
      <v-icon small class="mr-2">mdi-home</v-icon>
      <b-breadcrumb-item to="/dashboard">Dashboard</b-breadcrumb-item>
      <b-breadcrumb-item to="/pizzas" active>Pizza</b-breadcrumb-item>
    </b-breadcrumb>
    <v-row align="center" class="list px-3 mx-auto">
      <v-col cols="12" md="8">
        <v-text-field v-model="search" v-bind:label="'Search here'"></v-text-field>
      </v-col>

      <v-col cols="12" md="4">
        <v-btn small @click="addPizzaClick">Create</v-btn>
      </v-col>

      <v-col cols="12" sm="12">
        <v-card class="mx-auto" tile>
          <v-card-title>Pizzas</v-card-title>

          <v-data-table class="test"
            :headers="headers"
            :items="pizzasList"
            :search="search"
            disable-pagination
            :hide-default-footer="true"
          >
<!-- {{item.ingredients[0]}},{{item.ingredients[1]}} -->
            <template #item.full_name="{ item }">
              <p>{{item.name}}</p>
              <p v-for="ing in item.ing_array" v-bind:key="ing.id" class="custom-p">{{ing.name}}</p>
            </template>

            <template v-slot:[`item.image`]="{ item }">
              <v-img :src="`${image_url}${item.image}`" class="custom-img"></v-img>
            </template>
            <!-- v-slot:[`item.actions`]="{ item }" v-slot:[`item.image`]="{ item }" -->
            <template v-slot:[`item.actions`]="{ item }">
              <v-btn class="secondary" @click="editPizza(item.id)">Edit</v-btn>
              <v-btn class="error" @click="openDialog(item.id)">Delete</v-btn>
            </template>
          </v-data-table>
        </v-card>
      </v-col>
    </v-row>
    <v-dialog v-model="dialog" max-width="200">
      <v-card>
        <v-card-title class="headline lighten-2">Confirmation</v-card-title>

        <v-card-text>Are you sure you want to delete?</v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn color="error darken-1" text @click="dialog = false">No</v-btn>

          <v-btn color="success darken-1" text @click="handleOk(deleteId)">Yes</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import commonDataservice from "../../services/commonDataservice";
export default {
  name: "pizzasList",
  data() {
    return {
      pizzasList: [],
      dialog: false,
      image_url: process.env.MIX_VUE_APP_IMGURL,
      search: "",
      deleteId: "",
      headers: [
        { text: "", align: "start", sortable: false, value: "image" },
        { text: "Name", value: "full_name",sortable: false },
        { text: "", align: " d-none", sortable: false, value: "name" },
        { text: "Price", value: "price", sortable: false },
        { text: "Actions", value: "actions", sortable: false }
      ]
    };
  },
  methods: {
    retrievePizzas() {
        commonDataservice.getAllPizza()
          .then((response) => {
          if(response.data && response.data.data.length>0){
            this.pizzasList = response.data.data.map(this.getDisplayPizza);
          }
      })
      .catch((e) => {
        console.log(e);
      });
    },
    openDialog(id) {
      this.dialog = true;
      this.deleteId = id;
    },
    handleOk(id) {
      this.deletePizza(id);
    },

    refreshList() {
      this.retrievePizzas();
    },

    editPizza(id) {
        this.$router.push({ name: "edit-pizza", params: { id: id } });
    },

    deletePizza(id) {
         commonDataservice.deletePizza(id)
          .then(response => {
            if(response.status == 200){
                this.refreshList();
                commonDataservice.displayToast('success',response.dataa.msg)
            }
          })
          .catch((e) => {
            console.log(e);
          });
          this.dialog = false;
    },
    addPizzaClick() {
      this.$router.push({ name: "add-pizza" });
    },

    getDisplayPizza(ing) {
      return {
        id: ing.id,
        name: ing.pizza_name,
        price:ing.price+' USD',
        image:ing.image,
        ing_array:ing.ing_array
      };
    }
  },
  mounted() {
          if (localStorage.getItem("token")) {
              this.retrievePizzas();
          }
  }
};
</script>

<style>
.list {
  max-width: 800px;
}
.v-data-table td {
   padding: 10px !important;
}
</style>
